## In this notebook we will use:
- The energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013.
- The GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD).
- The [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area.

#### To answer import questions in the context of only the top 15 countries by Scimagojr Rank over the last 10 years for each country as:
- What is the `average GDP` for each country? 
- What is the mean of `Energy Supply per Capita`?
- What country has the maximum `% Renewable` and what is the percentage?
- What is the ratio of `Self-Citations to Total Citations` for each country? and what country has the highest ratio?
- Which countries has `% Renewable`at or above the median for all countries in the top 15 countries?

#### And to know more about the population in each Continent

### Steps:
1- Load, Validate and Clean the data.

2- Join the three datasets.

3- Answering questions in the context of only the top 15 countries by Scimagojr Rank over the last 10 years for each country.

4- Group the Countries by Continent, then create a dateframe that displays population summary statistics.

_____________________________________________________________________________________________________________________________
## Step 1: Load, Validate  and Clean the data

In [1]:
# Import libraries 
import numpy as np
import pandas as pd

### 1-  Energy Data

In [2]:
# Load the energy data from the file Energy Indicators.xls
data = pd.read_excel('Energy Indicators.xls')
energy = data.copy()
energy.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Last update: December 2015
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Choose a country from the following drop-down ...,NaN,NaN,Andorra
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
9,NaN,NaN,NaN,Petajoules,Gigajoules,%
10,NaN,NaN,Andorra,9,121,88.69565
11,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,website: http://unstats.un.org/unsd/ENVIRONMEN...
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,Energy Supply,Energy Supply per capita,Renewable Electricity Production
16,NaN,NaN,NaN,Petajoules,Gigajoules,%
17,NaN,Afghanistan,Afghanistan,321,10,78.66928
18,NaN,Albania,Albania,102,35,100
19,NaN,Algeria,Algeria,1959,51,0.55101

In [3]:
energy.tail(40)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
242,NaN,Zambia,Zambia,400,26,99.71467
243,NaN,Zimbabwe,Zimbabwe,480,32,52.53612
244,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN,NaN,NaN
246,NaN,Sources:,NaN,NaN,NaN,NaN
247,NaN,UNSD Energy Statistics Yearbook.,NaN,NaN,NaN,NaN
248,NaN,See: http://unstats.un.org/unsd/energy/yearboo...,NaN,NaN,NaN,NaN
249,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,Footnotes:,NaN,NaN,NaN,NaN
251,NaN,1,Excludes the overseas territories.,NaN,NaN,NaN
252,NaN,2,Data exclude Hong Kong and Macao Special Admin...,NaN,NaN,NaN
253,NaN,3,Data on kerosene-type jet fuel include aviatio...,NaN,NaN,NaN
254,NaN,4,"For confidentiality reasons, data on coal and ...",NaN,NaN,NaN
255,NaN,5,Data exclude Greenland and the Danish Faroes.,NaN,NaN,NaN
256,NaN,6,"Data include Monaco, and exclude the following...",NaN,NaN,NaN
257,NaN,7,Data for kerosene-type jet fuel include other ...,NaN,NaN,NaN
258,NaN,8,Data include Timor-Leste until 2001.,NaN,NaN,NaN
259,NaN,9,Data include San Marino and the Holy See.,NaN,NaN,NaN
260,NaN,10,Data include Okinawa.,NaN,NaN,NaN
261,NaN,11,The data for crude oil production include 50 p...,NaN,NaN,NaN
262,NaN,12,Data exclude Suriname and the Netherlands Anti...,NaN,NaN,NaN
263,NaN,13,Data include the Azores and Madeira.,NaN,NaN,NaN
264,NaN,14,Data for crude oil production include 50 per c...,NaN,NaN,NaN
265,NaN,15,Data exclude Kosovo from 2000 onwards.,NaN,NaN,NaN
266,NaN,16,Data include the Canary Islands.,NaN,NaN,NaN
267,NaN,17,Data include Liechtenstein for oil statistics.,NaN,NaN,NaN
268,NaN,18,"For confidentiality reasons, data on the follo...",NaN,NaN,NaN
269,NaN,19,"Shipments of coal and oil to Jersey, Guernsey ...",NaN,NaN,NaN
270,NaN,20,Includes the 50 states and the District of Col...,NaN,NaN,NaN
271,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,Definitions & Technical notes:,NaN,NaN,NaN,NaN
273,NaN,The data on energy supply and renewable electr...,NaN,NaN,NaN,NaN
274,NaN,Energy supply is defined as energy production ...,NaN,NaN,NaN,NaN
275,NaN,Electricity production refers to gross product...,NaN,NaN,NaN,NaN
276,NaN,Renewable electricity production (%) refers to...,NaN,NaN,NaN,NaN
277,NaN,… denotes no data available.,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN,NaN,NaN
279,NaN,Data Quality:,NaN,NaN,NaN,NaN
280,NaN,The data are compiled primarily from the annua...,NaN,NaN,NaN,NaN
281,NaN,"For more information, visit http://unstats.un....",NaN,NaN,NaN,NaN

### Observation:
- we need to exclude the footer and header information from the datafile. 
- The first two columns are unneccessary and need to be removed , and you should change 
- The column labels need to be changed

In [4]:
# Choose the right date 
energy = energy.iloc[15:244,2:]
energy

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
15,NaN,Energy Supply,Energy Supply per capita,Renewable Electricity Production
16,NaN,Petajoules,Gigajoules,%
17,Afghanistan,321,10,78.66928
18,Albania,102,35,100
19,Algeria,1959,51,0.55101
...,...,...,...,...
239,Viet Nam,2554,28,45.32152
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344,13,0
242,Zambia,400,26,99.71467
243,Zimbabwe,480,32,52.53612

In [5]:
# set headers
headers = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy  = pd.DataFrame(energy.values[2:], columns=headers)
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.66928
1,Albania,102,35,100
2,Algeria,1959,51,0.55101
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.69565
...,...,...,...,...
222,Viet Nam,2554,28,45.32152
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344,13,0
225,Zambia,400,26,99.71467
226,Zimbabwe,480,32,52.53612

### Observation:
- `Energy Supply` need to be converted from gigajoules to gigajoules (there are 1,000,000 gigajoules in a petajoule). 
- There are some countries which have missing data (e.g. data with "...") need to be converted to `NaN` values.

In [6]:
# Convert Energy Supply to gigajoules
energy['Energy Supply'] = energy['Energy Supply'] * 1000000
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.66928
1,Albania,102000000,35,100
2,Algeria,1959000000,51,0.55101
3,American Samoa,.................................................,...,0.641026
4,Andorra,9000000,121,88.69565
...,...,...,...,...
222,Viet Nam,2554000000,28,45.32152
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344000000,13,0
225,Zambia,400000000,26,99.71467
226,Zimbabwe,480000000,32,52.53612

In [7]:
# Get locations of all unwanted values  
df_n =   energy != energy[energy.applymap(np.isreal)]
df_n.Country = False

df_n

     Country  Energy Supply  Energy Supply per Capita  % Renewable
0      False          False                     False        False
1      False          False                     False        False
2      False          False                     False        False
3      False           True                      True        False
4      False          False                     False        False
..       ...            ...                       ...          ...
222    False          False                     False        False
223    False          False                     False        False
224    False          False                     False        False
225    False          False                     False        False
226    False          False                     False        False

[227 rows x 4 columns]

In [8]:
# replace unwanted values with (np.nan)
energy[df_n] = np.nan
energy.head(10)

               Country Energy Supply Energy Supply per Capita % Renewable
0          Afghanistan     321000000                       10    78.66928
1              Albania     102000000                       35         100
2              Algeria    1959000000                       51     0.55101
3       American Samoa           NaN                      NaN    0.641026
4              Andorra       9000000                      121    88.69565
5               Angola     642000000                       27    70.90909
6             Anguilla       2000000                      136           0
7  Antigua and Barbuda       8000000                       84           0
8            Argentina    3378000000                       79    24.06452
9              Armenia     143000000                       48    28.23606

In [9]:
energy['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia1', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China2',
       'China, Hong Kong Special Administrative Region3',
       'China, Macao Special Administrative Region4', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark5', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands (Malvinas)',
       'Fiji', 'Finland', 'France6', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland7', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia8',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy9', 'Jamaica', 'Japan10', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait11', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands12', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal13', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia14', 'Senegal',
       'Serbia15', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain16', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland17', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine18', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland19',
       'United Republic of Tanzania', 'United States of America20',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna Islands', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [10]:
# Clean Country column 
# remove words between brackets 
energy['Country'] = energy['Country'] .str.replace(r"\(.*\)","")

# Removing numeric values
energy['Country'] = energy['Country'].str.replace('\d+', '') 

# remove extra spaces
energy['Country'] = energy['Country'].str.strip()


# Rename some of countries
Country_Dict = {
    "Republic of Korea": "South Korea",
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong"
}
energy.replace({"Country": Country_Dict}, inplace= True)

C:\Users\Andrew\AppData\Local\Temp/ipykernel_1104/3824401432.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  energy['Country'] = energy['Country'] .str.replace(r"\(.*\)","")
C:\Users\Andrew\AppData\Local\Temp/ipykernel_1104/3824401432.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  energy['Country'] = energy['Country'].str.replace('\d+', '')

In [11]:
# change rest of columns to numeric
for i in range(1,len(energy.columns)): energy.iloc[:,i]= pd.to_numeric(energy.iloc[:,i])
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   227 non-null    object
 1   Energy Supply             222 non-null    float64
 2   Energy Supply per Capita  222 non-null    float64
 3   % Renewable               227 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

### 2-  GDP Data

In [12]:
# Load the GDP data from the file world_bank.csv
GDP = pd.read_csv('world_bank.csv')
GDP.head(10)

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,2016-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2.006000e+03,2.007000e+03,2.008000e+03,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03
4,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
5,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
6,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
7,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
8,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
9,Arab World,ARB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.763824e+12,1.863481e+12,1.980983e+12,2.011001e+12,2.103825e+12,2.173896e+12,2.318267e+12,2.385580e+12,2.436659e+12,2.509068e+12

In [13]:
GDP.tail()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
263,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
264,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
265,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
266,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
267,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

### Observation:
- we need to exclude the header information from the datafile.

In [14]:
# Choose the right date 
GDP = GDP.iloc[3:]
GDP

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59
3,Country Name,Country Code,Indicator Name,Indicator Code,1.960000e+03,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,...,2.006000e+03,2.007000e+03,2.008000e+03,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03
4,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
5,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
6,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
7,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
264,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
265,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
266,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
267,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [15]:
# set headers
headers = GDP.iloc[0]

# remove .0 from years
headers[4:] = headers[4:].astype(int)

GDP  = pd.DataFrame(GDP.values[1:], columns=headers)
GDP = GDP.rename_axis(None, axis=1)
GDP

D:\anaconda3\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
D:\anaconda3\lib\site-packages\pandas\core\series.py:1105: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._set_values(indexer, value)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2467703910.61453,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4018195653.51015,4021331428.40105,3675727910.50681,3535389132.60241,3346317328.52461,3185604581.52029,3129537611.8862,3127549907.58377,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,10305228125.1392,11721187594.2052,12144482858.18,14697331940.6464,15936800636.248699,16911126453.2276,19352203805.629398,19731337260.637798,19990317160.675598,20294152243.007198
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,55811028114.647903,68420444001.499496,77874196512.184494,79753199398.139603,82470913120.7314,85702615836.440399,90120963241.218597,96261432368.264496,100886286610.957993,103910558934.020004
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9771760095.12554,10348293941.5853,11127520474.2981,11500292411.1744,11926953258.916,12231090567.6672,12404772053.5014,12542465022.372999,12793314322.820499,13120823169.484699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,26725653162.687698,27617869836.712101,28726558529.023499,29914355173.579201,30906753495.150101,26243421035.8246,26891601653.747101,28009137429.746201,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,77070810927.968903,80034494636.637405,84978442119.7379,91244381889.661606,98489040998.276199,107250656239.048996,...,340285160027.947021,358526057738.422974,369966781589.994995,364276362720.085999,375349442837.23999,387407362601.25,396007124238.281982,404768205399.940002,411036853168.560974,416311671520.861023
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,15080239239.396799,13443825765.218201,16294010600.1206,17143578705.300699,16725237057.9368,16892046007.948799,...,16508944144.7183,17542316525.547298,18634483660.3004,19166509369.446999,20523285374.187,21932132984.366501,23502004276.8069,25500497989.971901,27787759925.441799,29709613590.183601
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4592974755.5815,4655502678.70172,4539541577.2029,4688093222.98889,5260699172.41667,6136471743.34494,...,14405693544.016199,15608919909.945601,16822341081.069799,18373419545.141899,20265552104.3964,21403581063.2962,23024380970.4175,24205950559.400501,25422273004.668701,26241270767.755501
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3338344012.90185,3549199070.9497,3600111298.35332,3824914650.44578,3782604520.95833,3968351985.97577,...,10062755569.0217,9695130198.50778,7982102821.16384,8459783044.33081,9422161300.0,10543908035.0329,11657893456.879,12180644491.5009,12649391052.8218,12785173627.385

In [16]:
len(GDP['Country Name'].unique())

264

In [17]:
# Clean Country column 
# remove words between brackets 
GDP['Country Name'] = GDP['Country Name'].str.replace(r"\(.*\)","")

# Removing numeric values
GDP['Country Name'] = GDP['Country Name'].str.replace('\d+', '') 

# remove extra spaces
GDP['Country Name'] = GDP['Country Name'].str.strip()

# Rename some of countries
Country_Dict = {
        "Korea, Rep.": "South Korea", 
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"
}
GDP.replace({"Country Name": Country_Dict}, inplace= True)

C:\Users\Andrew\AppData\Local\Temp/ipykernel_1104/1797901930.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  GDP['Country Name'] = GDP['Country Name'].str.replace(r"\(.*\)","")
C:\Users\Andrew\AppData\Local\Temp/ipykernel_1104/1797901930.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  GDP['Country Name'] = GDP['Country Name'].str.replace('\d+', '')

In [18]:
len(GDP['Country Name'].unique())

254

In [19]:
GDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 60 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            119 non-null    object
 5   1961            120 non-null    object
 6   1962            120 non-null    object
 7   1963            120 non-null    object
 8   1964            120 non-null    object
 9   1965            127 non-null    object
 10  1966            132 non-null    object
 11  1967            133 non-null    object
 12  1968            137 non-null    object
 13  1969            137 non-null    object
 14  1970            146 non-null    object
 15  1971            146 non-null    object
 16  1972            146 non-null    object
 17  1973            146 non-null    object
 18  1974            147 non-null    object
 19  1975            152 non-null    object
 20  1976            153 non-null    object
 21  1977            158 non-null    object
 22  1978            158 non-null    object
 23  1979            159 non-null    object
 24  1980            172 non-null    object
 25  1981            177 non-null    object
 26  1982            181 non-null    object
 27  1983            181 non-null    object
 28  1984            185 non-null    object
 29  1985            187 non-null    object
 30  1986            190 non-null    object
 31  1987            193 non-null    object
 32  1988            196 non-null    object
 33  1989            199 non-null    object
 34  1990            212 non-null    object
 35  1991            214 non-null    object
 36  1992            217 non-null    object
 37  1993            218 non-null    object
 38  1994            220 non-null    object
 39  1995            226 non-null    object
 40  1996            226 non-null    object
 41  1997            227 non-null    object
 42  1998            228 non-null    object
 43  1999            230 non-null    object
 44  2000            235 non-null    object
 45  2001            236 non-null    object
 46  2002            237 non-null    object
 47  2003            237 non-null    object
 48  2004            237 non-null    object
 49  2005            237 non-null    object
 50  2006            237 non-null    object
 51  2007            237 non-null    object
 52  2008            238 non-null    object
 53  2009            238 non-null    object
 54  2010            243 non-null    object
 55  2011            238 non-null    object
 56  2012            237 non-null    object
 57  2013            237 non-null    object
 58  2014            230 non-null    object
 59  2015            214 non-null    object
dtypes: object(60)
memory usage: 123.9+ KB

In [20]:
# change rest of columns to numeric
for i in range(4,len(GDP.columns)): GDP.iloc[:,i]= pd.to_numeric(GDP.iloc[:,i])
GDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 60 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            119 non-null    float64
 5   1961            120 non-null    float64
 6   1962            120 non-null    float64
 7   1963            120 non-null    float64
 8   1964            120 non-null    float64
 9   1965            127 non-null    float64
 10  1966            132 non-null    float64
 11  1967            133 non-null    float64
 12  1968            137 non-null    float64
 13  1969            137 non-null    float64
 14  1970            146 non-null    float64
 15  1971            146 non-null    float64
 16  1972            146 non-null    float64
 17  1973            146 non-null    float64
 18  1974            147 non-null    float64
 19  1975            152 non-null    float64
 20  1976            153 non-null    float64
 21  1977            158 non-null    float64
 22  1978            158 non-null    float64
 23  1979            159 non-null    float64
 24  1980            172 non-null    float64
 25  1981            177 non-null    float64
 26  1982            181 non-null    float64
 27  1983            181 non-null    float64
 28  1984            185 non-null    float64
 29  1985            187 non-null    float64
 30  1986            190 non-null    float64
 31  1987            193 non-null    float64
 32  1988            196 non-null    float64
 33  1989            199 non-null    float64
 34  1990            212 non-null    float64
 35  1991            214 non-null    float64
 36  1992            217 non-null    float64
 37  1993            218 non-null    float64
 38  1994            220 non-null    float64
 39  1995            226 non-null    float64
 40  1996            226 non-null    float64
 41  1997            227 non-null    float64
 42  1998            228 non-null    float64
 43  1999            230 non-null    float64
 44  2000            235 non-null    float64
 45  2001            236 non-null    float64
 46  2002            237 non-null    float64
 47  2003            237 non-null    float64
 48  2004            237 non-null    float64
 49  2005            237 non-null    float64
 50  2006            237 non-null    float64
 51  2007            237 non-null    float64
 52  2008            238 non-null    float64
 53  2009            238 non-null    float64
 54  2010            243 non-null    float64
 55  2011            238 non-null    float64
 56  2012            237 non-null    float64
 57  2013            237 non-null    float64
 58  2014            230 non-null    float64
 59  2015            214 non-null    float64
dtypes: float64(56), object(4)
memory usage: 123.9+ KB

###  3-  Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology

In [21]:
# Load the Sciamgo Journal and Country Rank data
ScimEn = pd.read_excel('scimagojr-3.xlsx')
ScimEn.head(10)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104

In [22]:
ScimEn.tail(10)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
181,182,Gibraltar,1,1,0,0,0.0,0
182,183,Maldives,1,1,1,0,1.0,1
183,184,Gambia,1,1,0,0,0.0,0
184,185,Belize,1,1,6,0,6.0,1
185,186,Palau,1,1,0,0,0.0,0
186,187,Guyana,1,1,0,0,0.0,0
187,188,Christmas Island,1,1,0,0,0.0,0
188,189,Reunion,1,1,2,1,2.0,1
189,190,Saint Lucia,1,1,0,0,0.0,0
190,191,Mauritania,1,1,1,0,1.0,1

In [23]:
ScimEn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    191 non-null    int64
 1   Country                 191 non-null    object
 2   Documents               191 non-null    int64
 3   Citable documents       191 non-null    int64
 4   Citations               191 non-null    int64
 5   Self-citations          191 non-null    int64
 6   Citations per document  191 non-null    float64
 7   H index                 191 non-null    int64
dtypes: float64(1), int64(6), object(1)
memory usage: 12.1+ KB

### Observation:
- Data is clean.

___________________________________________________________________________________________________________________________
## Step 2: Join the three datasets: GDP, Energy, and ScimEn 
**Using only:** 
- The last 10 years of GDP data   
- The top 15 countries by Scimagojr 'Rank'

In [24]:
# Join the three datasets (using the intersection of country names):

#Renaming 'Country Name' to 'Country'
GDP.rename(columns={'Country Name':'Country'}, inplace=True) 

# Join energy, GDP using the intersection of country names:
df1_inner = pd.merge( energy, GDP, on = 'Country',  how='inner')

# Join ScimEn, df1 using the intersection of country names:
df2_inner = pd.merge( ScimEn, df1_inner, on = 'Country',  how='inner')

# Setting the index uas the Country column;:
df2_inner.set_index('Country', inplace=True) 

df2_inner.shape

(161, 69)

In [25]:
# Use only important columns (Remove unwanted years)
df3 = df2_inner[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 
          'Energy Supply', 'Energy Supply per Capita', '% Renewable', 2006, 2007, 2008, 2009, 2010, 2011,2012, 2013, 
           2014, 2015]]
df3.shape

(161, 20)

In [26]:
# Get the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15)
df_final = df3[df3['Rank'] <= 15]
df_final

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [27]:
df_final.shape

(15, 20)

___________________________________________________________________________________________________________________________
## Step 3: Answering important  questions :-
- How many entries have we lost after joining the three datasets ? `(Due to join step, before choosing only the top 15)`
- What is the `average GDP` for each country? 
- What is the mean of `Energy Supply per Capita`?
- What country has the maximum `% Renewable` and what is the percentage?
- What is the ratio of `Self-Citations to Total Citations` for each country? and what country has the highest ratio?
- Which countries has `% Renewable`at or above the median for all countries in the top 15 countries?

#### 1- How many entries have we lost after joining the three datasets ? `(Due to join step, before choosing only the top 15)`

In [28]:
# Join the three datasets (using the union of country names):

# Join energy, GDP using the intersection of country names:
df1_outer = pd.merge( energy, GDP, on = 'Country',  how='outer')

# Join ScimEn, df1 using the intersection of country names:
df2_outer = pd.merge( ScimEn, df1_outer, on = 'Country',  how='outer')

# Setting the index uas the Country column;:
df2_outer.set_index('Country', inplace=True) 

df2_outer.shape

(318, 69)

In [29]:
# Number of entries we have lost in this Join step:
len(df2_outer)-len(df2_inner)

157

#### 2- What is the `average GDP` for each country? 

(we want to exclude missing values from this calculation)

In [30]:
df_final

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [31]:
# getting the count of each country and exclude missing values 
count = 10 - df_final.isna().sum(axis=1)
count

Country
China                 10
United States         10
Japan                 10
United Kingdom        10
Russian Federation    10
Canada                10
Germany               10
India                 10
France                10
South Korea           10
Italy                 10
Spain                 10
Iran                   9
Australia             10
Brazil                10
dtype: int64

In [32]:
# getting the sum of each country
s = df_final.loc[:,2006:].sum(axis = 1) # (locating only the years with loc function) 
s

Country
China                 6.348609e+13
United States         1.536434e+14
Japan                 5.542208e+13
United Kingdom        2.487907e+13
Russian Federation    1.565459e+13
Canada                1.660647e+13
Germany               3.493025e+13
India                 1.769297e+13
France                2.681725e+13
South Korea           1.106715e+13
Italy                 2.120175e+13
Spain                 1.418078e+13
Iran                  3.997402e+12
Australia             1.164043e+13
Brazil                2.189794e+13
dtype: float64

In [33]:
# the average GDP over the last 10 years for each country
pd.Series(s/count).sort_values(ascending= False)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [34]:
# OR 
# we can do all of this in one line
pd.Series(  df_final.loc[:,2006:].mean(axis = 1, skipna=True)  ).sort_values(ascending= False)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

#### 3- What is the mean of `Energy Supply per Capita`?

In [35]:
df_final['Energy Supply per Capita'].mean()

157.6

#### 4- What country has the maximum `% Renewable` and what is the percentage?

In [36]:
(df_final[df_final['% Renewable'] == df_final['% Renewable'].max()].index[0] , df_final['% Renewable'].max())

('Brazil', 69.64803)

In [37]:
type((df_final[df_final['% Renewable'] == df_final['% Renewable'].max()].index[0] , df_final['% Renewable'].max()))

tuple

#### 5- What is the ratio of `Self-Citations to Total Citations` for each country? and what country has the highest ratio?

In [38]:
df_final['Ratio_Citations'] = df_final['Self-citations'] / df_final['Citations']
df_final.head()

C:\Users\Andrew\AppData\Local\Temp/ipykernel_1104/3170585821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Ratio_Citations'] = df_final['Self-citations'] / df_final['Citations']

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Ratio_Citations
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,...,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.57098,...,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,...,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.60047,...,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,...,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517

In [39]:
(df_final[df_final['Ratio_Citations'] == df_final['Ratio_Citations'].max()].index[0] , df_final['Ratio_Citations'].max())

('China', 0.6893126179389422)

#### 6- Which countries has `% Renewable`at or above the median for all countries in the top 15 countries?

In [40]:
df_final['Above_median'] = ( df_final['% Renewable'] >= df_final['% Renewable'].median() )*1
df_final.head()

C:\Users\Andrew\AppData\Local\Temp/ipykernel_1104/3286420333.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Above_median'] = ( df_final['% Renewable'] >= df_final['% Renewable'].median() )*1

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2008,2009,2010,2011,2012,2013,2014,2015,Ratio_Citations,Above_median
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,...,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.57098,...,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,0
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,...,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,0
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.60047,...,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,0
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,...,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,1

In [41]:
df_final.sort_values(by=['Rank'])
HighRenew = pd.Series(df_final['Above_median'])
HighRenew

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: Above_median, dtype: int32

______________________________________________________________________________________________________________________________
### Step 4:  Group the Countries by Continent, then create a dateframe that displays population summary statistics:
`['size', 'sum', 'mean', 'std']`

In [42]:
# Return "Country" as a column 
df_final.reset_index(inplace= True)

In [43]:
# create Continent column:
df_final['Continent'] = df_final['Country']

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
df_final.replace({"Continent": ContinentDict}, inplace= True)

C:\Users\Andrew\AppData\Local\Temp/ipykernel_1104/1290681788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Continent'] = df_final['Country']
D:\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [44]:
# Getting population of each Country 
df_final['population'] = df_final['Energy Supply']/df_final['Energy Supply per Capita']

C:\Users\Andrew\AppData\Local\Temp/ipykernel_1104/2510730947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['population'] = df_final['Energy Supply']/df_final['Energy Supply per Capita']

In [45]:
# set Continent as index
df_final.set_index('Continent', inplace=True) 
df_final.head()

,Country,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2009,2010,2011,2012,2013,2014,2015,Ratio_Citations,Above_median,population
Continent,,,,,,,,,,,,,,,,,,,,,
Asia,China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,...,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1,1.367645e+09
North America,United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,...,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,0,3.176154e+08
Asia,Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,...,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,0,1.274094e+08
Europe,United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,...,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,0,6.387097e+07
Europe,Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,...,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,1,1.435000e+08

In [46]:
df_final.groupby('Continent').population.agg([np.size,np.sum,np.mean,np.std])

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN